<h3>Date privind transferul</h3>
<table class="word-table">
    <thead>
        <tr>
            <th colspan="3">Transferat din instituția preuniversitară</th>
            <th colspan="2">Transferat în instituția dată</th>
        </tr>
        <tr>
            <td align="center">Denumirea instituției</td>
            <td align="center">Actul care justifică transferul (cine l-a emis, nr., data)</td>
            <td align="center">Motivul transferului</td>
            <td align="center">Denumirea instituției</td>
            <td align="center">Ordinul de înscriere în instituția dată (nr., data)</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
        </tr>
        <tr>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
        </tr>
        <tr>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
        </tr>
        <tr>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
        </tr>
        <tr>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
        </tr>
        <tr>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
            <td class="blank-word-cell"></td>
        </tr>
    </tbody>
</table>


<section class="notes">
    <h3>Notă</h3>
    <ol style="padding-left: 70px;">
        <li>
            Dosarul personal se perfectează pentru fiecare elev din momentul înmatriculării şi se completează sistematic
            pînă la absolvirea instituţiei de învăţămînt.
        </li>
        <li>
            Numărul dosarului personal trebuie să corespundă cu numărul de înregistrare al elevului în Cartea
            alfabetică
            (de ex., nr.A/26 semnifică faptul, că elevul este înregistrat în Cartea alfabetică la litera „A” sub nr.26).
        </li>
        <li>
            În cazul, cînd elevul se transferă din instituţia dată de învăţămînt, dosarul personal, în baza cererii,
            se remite părinţilor sau tutorelui.
        </li>
        <li>
            După absolvirea gimnaziului, dosarele personale se păstrează în arhiva instituţiei de învăţămînt timp de
            trei ani.
        </li>
        <li>
            Responsabil de perfectarea şi completarea dosarelor personale ale elevilor este
            învăţătorul sau dirigintele clasei.
        </li>
        <li>
            Înscrierile în dosarul personal se fac cu pix negru.
        </li>
        <li>
            La fiecare sfîrşit de an, administraţia instituţiei de învăţămînt va verifica, în dosarele personale,
            corectitudinea datelor în „Tabelul reuşitei şcolare”, după care va aplica ştampila instituţiei de
            învăţămînt.
        </li>
    </ol>

</section>