<h3 class="page-header"> Tabelul reușitei școlare </h3>
<table id="table-mso" border="1" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <p><span lang="RU">Nr.<o:p></o:p></span></p>
            </td>
            <td>
                <p align="center"><span lang="RU">Disciplina<o:p></o:p></span></p>
            </td>
            <td class="right-border-table " colspan="4">
                <p align="center" style="font-weight: bold;">Învățământul primar</p>
            </td>
            <td colspan="5">
                <p align="center" style="font-weight: bold;">Învățământul gimnazial</p>
            </td>
            <td rowspan="3">
                <p align="center" style="font-weight: bold;">Nota la examen</p>
            </td>
        </tr>
        <tr>
            <td rowspan="2">
                <p><span lang="RU">crt.<o:p></o:p></span></p>
            </td>
            <td rowspan="2">
                <p align="center">Anul, Clasa</p>
            </td>
            <td>
                <p align="center">2023</p>
            </td>
            <td>
                <p align="center">2024</p>
            </td>
            <td>
                <p align="center">2025</p>
            </td>
            <td class="right-border-table">
                <p align="center">2025</p>
            </td>
            <td>
                <p align="center">20__</p>
            </td>
            <td>
                <p align="center">20__</p>
            </td>
            <td>
                <p align="center">20__</p>
            </td>
            <td>
                <p align="center">20__</p>
            </td>
            <td>
                <p align="center">20__</p>
            </td>

        </tr>
        <tr>

            <td>
                <p align="center">cl.I</p>
            </td>
            <td>
                <p align="center">cl.II</p>
            </td>
            <td>
                <p align="center">cl.III</p>
            </td>
            <td class="right-border-table">
                <p align="center">cl.IV</p>
            </td>
            <td>
                <p align="center">cl.V</p>
            </td>
            <td>
                <p align="center">cl.VI</p>
            </td>
            <td>
                <p align="center">cl.VII</p>
            </td>
            <td>
                <p align="center">cl.VIII</p>
            </td>
            <td>
                <p align="center">cl.IX</p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="EN-GB">1.</span><span>
                        <o:p></o:p>
                    </span></p>
                <p align="center"><span>
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="EN-GB">Limba <span>şi</span>
                        <span>literatura</span>
                        <o:p></o:p>
                    </span></p>
                <p><span><span lang="EN-GB">română</span></span><span lang="EN-GB">
                        <o:p></o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="EN-GB">2.</span><span>
                        <o:p></o:p>
                    </span></p>
                <p align="center"><span>
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="EN-GB">Limba <span>şi</span>
                        <span>literatura</span>
                        <o:p></o:p>
                    </span></p>
                <p><span><span lang="EN-GB">rusă</span></span><span lang="EN-GB">
                        <o:p></o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="EN-GB">3.</span><span>
                        <o:p></o:p>
                    </span></p>
                <p align="center"><span>
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="EN-GB">Limba <span>şi</span> <span>literatura</span>
                        <o:p></o:p>
                    </span></p>
                <p><span><span lang="EN-GB">ucraineană</span></span><span lang="EN-GB">,
                        <span>găgăuză</span>,<o:p></o:p></span></p>
                <p><span lang="RU">bulgară<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">4.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Limba străină<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">5.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Limba rusă<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">6.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Matematică<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">7.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Ştiinţe<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">8.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Biologie<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">9.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Fizică<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">10.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Chimie<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">11.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Informatică<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">12.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Istorie<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">13.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Geografie<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">14.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Educaţie civică<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">15.</span><span>
                        <o:p></o:p>
                    </span></p>
                <p align="center"><span>
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Educaţia moral-<o:p></o:p></span></p>
                <p><span lang="RU">spirituală<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">16.</span><span>
                        <o:p></o:p>
                    </span></p>
                <p align="center"><span>
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="lesson-name">
                <p><span><span lang="EN-GB">Istoria</span></span><span lang="EN-GB">,
                        <span>cultura</span> <span>şi</span>
                        <o:p></o:p>
                    </span></p>
                <p><span>t</span><span><span lang="EN-GB">radiţiile</span></span><span lang="EN-GB">
                    </span><span><span lang="EN-GB">poporului</span></span><span>
                        <o:p></o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">17.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Educaţie muzicală<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">18.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Educaţie plastică<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">19.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Educaţie</span><span lang="RU"> </span><span lang="RU">tehnologică
                        <o:p></o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">20.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span lang="RU">Educaţie fizică<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">21.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span>Dans
                        pop scenic<o:p></o:p></span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span>22.<o:p></o:p></span></p>
            </td>
            <td class="lesson-name">
                <p><span>Dans <span>clasic</span>
                        <o:p></o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">2</span><span>3</span><span lang="RU">.<o:p></o:p>
                    </span></p>
            </td>
            <td class="lesson-name">
                <p><span><span>Ritmica</span></span><span>
                        <o:p></o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">2</span><span>4</span><span lang="RU">.<o:p></o:p>
                    </span></p>
            </td>
            <td class="lesson-name">
                <p>Nr. de ore absentate</p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">2</span><span>5</span><span lang="RU">.<o:p></o:p>
                    </span></p>
            </td>
            <td class="lesson-name">
                <p>Din ele motivate</p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="right-border-table">
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="RU">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
        <tr>
        <tr>
            <td>
                <p align="center"><span lang="RU">2</span><span>6</span><span lang="RU">.</span><span>
                        <o:p></o:p>
                    </span></p>
                <p align="center"><span>
                        <o:p>&nbsp;</o:p>
                    </span></p>
                <p><span>
                        <o:p>&nbsp;</o:p>
                    </span></p>
                <p><span>
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td class="lesson-name">
                <p align="center">
                    Decizia Consiliului profesoral privind promovarea în clasa următoare/repetenția (nr.
                    procesului-verbal, data)
                </p>
            </td>
            <td style="
    /* position: absolute; */
    max-width: 54px;
    /* border-right: 2px solid black; */
    /* border-collapse: collapse; */
">
                <div style="
    position: absolute;
">
                    <div style="
    position: relative;
    rotate: 270deg;
    width: 100px;
    top: -23px;
    left: -28px;
">
                        <p>
                            Proces-verbal nr. _________
                        </p>
                    </div>
                </div>
            </td>
            <td style="
    /* position: absolute; */
    max-width: 54px;
    /* border-right: 2px solid black; */
    /* border-collapse: collapse; */
">
                <div style="
    position: absolute;
">
                    <div style="
    position: relative;
    rotate: 270deg;
    width: 100px;
    top: -23px;
    left: -28px;
">
                        <p>
                            Proces-verbal nr. _________
                        </p>
                    </div>
                </div>
            </td>
            <td style="
    /* position: absolute; */
    max-width: 54px;
    /* border-right: 2px solid black; */
    /* border-collapse: collapse; */
">
                <div style="
    position: absolute;
">
                    <div style="
    position: relative;
    rotate: 270deg;
    width: 100px;
    top: -23px;
    left: -28px;
">
                        <p>
                            Proces-verbal nr. _________
                        </p>
                    </div>
                </div>
            </td>
            <td class="right-border-table" style="
    /* position: absolute; */
    max-width: 54px;
    /* border-right: 2px solid black; */
    /* border-collapse: collapse; */
">
                <div style="
    position: absolute;
">
                    <div style="
    position: relative;
    rotate: 270deg;
    width: 100px;
    top: -23px;
    left: -28px;
">
                        <p>
                            Proces-verbal nr. _________
                        </p>
                    </div>
                </div>
            </td>
            <td style="
    /* position: absolute; */
    max-width: 54px;
    /* border-right: 2px solid black; */
    /* border-collapse: collapse; */
">
                <div style="
    position: absolute;
">
                    <div style="
    position: relative;
    rotate: 270deg;
    width: 100px;
    top: -23px;
    left: -28px;
">
                        <p>
                            Proces-verbal nr. _________
                        </p>
                    </div>
                </div>
            </td>
            <td style="
    /* position: absolute; */
    max-width: 54px;
    /* border-right: 2px solid black; */
    /* border-collapse: collapse; */
">
                <div style="
    position: absolute;
">
                    <div style="
    position: relative;
    rotate: 270deg;
    width: 100px;
    top: -23px;
    left: -28px;
">
                        <p>
                            Proces-verbal nr. _________
                        </p>
                    </div>
                </div>
            </td>
            <td style="
    /* position: absolute; */
    max-width: 54px;
    /* border-right: 2px solid black; */
    /* border-collapse: collapse; */
">
                <div style="
    position: absolute;
">
                    <div style="
    position: relative;
    rotate: 270deg;
    width: 100px;
    top: -23px;
    left: -28px;
">
                        <p>
                            Proces-verbal nr. _________
                        </p>
                    </div>
                </div>
            </td>
            <td style="
    /* position: absolute; */
    max-width: 54px;
    /* border-right: 2px solid black; */
    /* border-collapse: collapse; */
">
                <div style="
    position: absolute;
">
                    <div style="
    position: relative;
    rotate: 270deg;
    width: 100px;
    top: -23px;
    left: -28px;
">
                        <p>
                            Proces-verbal nr. _________
                        </p>
                    </div>
                </div>
            </td>
            <td style="
    /* position: absolute; */
    max-width: 54px;
    /* border-right: 2px solid black; */
    /* border-collapse: collapse; */
">
                <div style="
    position: absolute;
">
                    <div style="
    position: relative;
    rotate: 270deg;
    width: 100px;
    top: -23px;
    left: -28px;
">
                        <p>
                            Proces-verbal nr. _________
                        </p>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        </tr>
        <tr>
            <td>27.</td>
            <td class="lesson-name">
                <p align="center"><span><span lang="EN-GB">Semnătura</span></span><span lang="EN-GB">
                        <o:p></o:p>
                    </span></p>
                <p align="center"><span><span lang="EN-GB">învăţătorului</span></span><span lang="EN-GB">
                        <span>sau</span> a<o:p></o:p></span></p>
                <p align="center"><span><span lang="EN-GB">dirigintelui</span></span><span lang="EN-GB">
                        de <span>clasă</span>
                        <o:p></o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
            <td>
                <p><span lang="EN-GB">
                        <o:p>&nbsp;</o:p>
                    </span></p>
            </td>
        </tr>
    </tbody>
</table>